* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --bg-color:rgb(36,53,63);
    --header-color:rgb(23,162,184);
    --input-border-color:rgb(206,212,218);
    --light:white;
    --dark:black;   
    --warning:rgb(255,193,7); 
    --secondary:gray;
}

html , body {
    background-color: var(--bg-color);   
}

.w-90 {
    width: 90%;
}

/* login page style */

.card {   
    --bs-card-title-color: var(--header-color);  
    --bs-card-border-radius: 0px;   
    --bs-card-inner-border-radius: 0px;  
    --bs-card-bg:var(--bg-color);
    
}


.form-control {
  color: var(--input-border-color);
  border: 1px solid var(--input-border-color);
  background-color: var(--bg-color);  
}

.form-control:focus  , input:focus{
    background-color: var(--bg-color);
    box-shadow: unset; 
    border-color: var(--header-color);
}

.form-control::placeholder {
    color: var(--input-border-color);
      
}

.submit-btn .btn-outline-primary {
  --bs-btn-color: var(--header-color);
  --bs-btn-border-color: var(--header-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--header-color);  
}

.login-link {
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}
/* home page style */

.navbar {   
    --bs-navbar-color: var(--bg-color);   
    --bs-navbar-toggler-border-color: var(--secondary);
    --bs-navbar-toggler-border-radius: var(--bs-border-radius);
}

.navbar .nav-item {
    transition: .5s;
}

.nav-item:hover {
    background-color: var(--warning);
}

.navbar .nav-item .nav-link {
    color: var(--secondary);
}

.nav-item:hover .nav-link {
    color: var(--light);
}

.title {
    background-color: var(--bg-color);
    color: var(--header-color);
}
   