* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --bg-color:rgb(36,53,63);
    --header-color:rgb(23,162,184);
    --input-border-color:rgb(206,212,218);
    --light:white;
    --dark:black;   
    --warning:rgb(255,193,7); 
    --secondary:gray;
}

html , body {
    background-color: var(--bg-color);   
}

.w-90 {
    width: 90%;
}

/* login page style */

.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: var(--header-color);
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 0px;   
    --bs-card-inner-border-radius: 0px;
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-bg:var(--bg-color);
    
}


.form-control {
  color: var(--input-border-color);
  border: 1px solid var(--input-border-color);
  background-color: var(--bg-color);  
}

.form-control:focus  , input:focus{
    background-color: var(--bg-color);
    box-shadow: unset; 
    border-color: var(--header-color);
}

.form-control::placeholder {
    color: var(--input-border-color);
      
}

.submit-btn .btn-outline-primary {
  --bs-btn-color: var(--header-color);
  --bs-btn-border-color: var(--header-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--header-color);
  --bs-btn-hover-border-color: #0d6efd;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0d6efd;
  --bs-btn-active-border-color: #0d6efd;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0d6efd;
  --bs-btn-disabled-bg: transparent;
}

/* home page style */

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: var(--bg-color);
    --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
    --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
    --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-border-color: var(--secondary);
    --bs-navbar-toggler-border-radius: var(--bs-border-radius);
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;    
}

.navbar .nav-item {
    transition: .5s;
}

.nav-item:hover {
    background-color: var(--warning);
}

.navbar .nav-item .nav-link {
    color: var(--secondary);
}

.nav-item:hover .nav-link {
    color: var(--light);
}

.title {
    background-color: var(--bg-color);
    color: var(--header-color);
}
   